In [2]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, np.nan])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
7    8.0
8    9.0
9    NaN
dtype: float64

In [5]:
s[0]

1.0

In [6]:
s.sum()

45.0

In [7]:
df = pd.DataFrame({"a":[1, 2], "b":[3, 4]})
df

   a  b
0  1  3
1  2  4

In [8]:
df.dtypes

a    int64
b    int64
dtype: object

In [9]:
df = pd.DataFrame(np.random.randn(6, 4))
df

          0         1         2         3
0 -0.803090 -0.158084  0.754059  0.515903
1  1.660290 -0.194423  0.268272  1.256670
2  0.001537  1.533277  0.047598 -0.837196
3 -0.938812 -0.497402 -0.198119 -0.628812
4 -1.759045 -0.513640  0.646546  0.587295
5 -0.671200  1.232589  0.451777  1.847978

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range("20200101", periods=6))
df

                   0         1         2         3
2020-01-01  0.509838 -1.362526 -1.020709  0.277043
2020-01-02  0.739266  0.176066 -0.487474  0.346287
2020-01-03  1.271378  0.510969  0.796337  0.165566
2020-01-04 -0.086719  0.095566  0.706287  0.239579
2020-01-05 -0.567029 -0.490040 -0.618424 -0.846342
2020-01-06  1.007709 -0.917077  1.073506  0.115634

In [11]:
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range("20200101", periods=6), columns=["A", "B", "C", "D"])
df

                   A         B         C         D
2020-01-01 -0.894518  0.217220 -0.509382  1.661223
2020-01-02  0.240013 -0.007692  1.877079  0.342584
2020-01-03 -0.557937 -0.226045 -0.305257  0.799318
2020-01-04  1.964696 -0.061895  0.649396  1.029998
2020-01-05 -0.854325  0.777459 -0.936669  0.145856
2020-01-06 -0.695637 -2.387286 -1.673101  0.224784

In [13]:
df.head(1)

                   A        B         C         D
2020-01-01 -0.894518  0.21722 -0.509382  1.661223

In [14]:
df.tail(3)

                   A         B         C         D
2020-01-04  1.964696 -0.061895  0.649396  1.029998
2020-01-05 -0.854325  0.777459 -0.936669  0.145856
2020-01-06 -0.695637 -2.387286 -1.673101  0.224784

In [15]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.132951 -0.281373 -0.149656  0.700627
std    1.107864  1.089103  1.252200  0.583672
min   -0.894518 -2.387286 -1.673101  0.145856
25%   -0.814653 -0.185008 -0.829847  0.254234
50%   -0.626787 -0.034794 -0.407320  0.570951
75%    0.040526  0.160992  0.410733  0.972328
max    1.964696  0.777459  1.877079  1.661223

In [18]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -0.894518    0.240013   -0.557937    1.964696   -0.854325   -0.695637
B    0.217220   -0.007692   -0.226045   -0.061895    0.777459   -2.387286
C   -0.509382    1.877079   -0.305257    0.649396   -0.936669   -1.673101
D    1.661223    0.342584    0.799318    1.029998    0.145856    0.224784

In [19]:
df.sort_values(by="B")

                   A         B         C         D
2020-01-06 -0.695637 -2.387286 -1.673101  0.224784
2020-01-03 -0.557937 -0.226045 -0.305257  0.799318
2020-01-04  1.964696 -0.061895  0.649396  1.029998
2020-01-02  0.240013 -0.007692  1.877079  0.342584
2020-01-01 -0.894518  0.217220 -0.509382  1.661223
2020-01-05 -0.854325  0.777459 -0.936669  0.145856

In [20]:
df[0:3]

                   A         B         C         D
2020-01-01 -0.894518  0.217220 -0.509382  1.661223
2020-01-02  0.240013 -0.007692  1.877079  0.342584
2020-01-03 -0.557937 -0.226045 -0.305257  0.799318

In [21]:
df["20200102":"20200104"]

                   A         B         C         D
2020-01-02  0.240013 -0.007692  1.877079  0.342584
2020-01-03 -0.557937 -0.226045 -0.305257  0.799318
2020-01-04  1.964696 -0.061895  0.649396  1.029998

In [22]:
df.loc["20200102"]

A    0.240013
B   -0.007692
C    1.877079
D    0.342584
Name: 2020-01-02 00:00:00, dtype: float64

In [23]:
df.loc["20200102", ["A", "B"]]

A    0.240013
B   -0.007692
Name: 2020-01-02 00:00:00, dtype: float64

In [24]:
df.loc["20200102":"20200104", ["A", "B"]]

                   A         B
2020-01-02  0.240013 -0.007692
2020-01-03 -0.557937 -0.226045
2020-01-04  1.964696 -0.061895

In [25]:
df.loc[:, ["A", "B"]]

                   A         B
2020-01-01 -0.894518  0.217220
2020-01-02  0.240013 -0.007692
2020-01-03 -0.557937 -0.226045
2020-01-04  1.964696 -0.061895
2020-01-05 -0.854325  0.777459
2020-01-06 -0.695637 -2.387286

In [26]:
df.iloc[0, 0]

-0.8945177985001652

In [27]:
df.iloc[0:3, 0:2]

                   A         B
2020-01-01 -0.894518  0.217220
2020-01-02  0.240013 -0.007692
2020-01-03 -0.557937 -0.226045

In [28]:
df[df.B>0]

                   A         B         C         D
2020-01-01 -0.894518  0.217220 -0.509382  1.661223
2020-01-05 -0.854325  0.777459 -0.936669  0.145856

In [29]:
df[df>0]

                   A         B         C         D
2020-01-01       NaN  0.217220       NaN  1.661223
2020-01-02  0.240013       NaN  1.877079  0.342584
2020-01-03       NaN       NaN       NaN  0.799318
2020-01-04  1.964696       NaN  0.649396  1.029998
2020-01-05       NaN  0.777459       NaN  0.145856
2020-01-06       NaN       NaN       NaN  0.224784

In [30]:
df

                   A         B         C         D
2020-01-01 -0.894518  0.217220 -0.509382  1.661223
2020-01-02  0.240013 -0.007692  1.877079  0.342584
2020-01-03 -0.557937 -0.226045 -0.305257  0.799318
2020-01-04  1.964696 -0.061895  0.649396  1.029998
2020-01-05 -0.854325  0.777459 -0.936669  0.145856
2020-01-06 -0.695637 -2.387286 -1.673101  0.224784

In [31]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2

                   A         B         C         D      E
2020-01-01 -0.894518  0.217220 -0.509382  1.661223    one
2020-01-02  0.240013 -0.007692  1.877079  0.342584    one
2020-01-03 -0.557937 -0.226045 -0.305257  0.799318    two
2020-01-04  1.964696 -0.061895  0.649396  1.029998  three
2020-01-05 -0.854325  0.777459 -0.936669  0.145856   four
2020-01-06 -0.695637 -2.387286 -1.673101  0.224784  three

In [32]:
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2020-01-03 -0.557937 -0.226045 -0.305257  0.799318   two
2020-01-05 -0.854325  0.777459 -0.936669  0.145856  four

In [33]:
s = pd.Series([1, 2, 3, 4, 5, 6],index=pd.date_range("20200101", periods=6))
s

2020-01-01    1
2020-01-02    2
2020-01-03    3
2020-01-04    4
2020-01-05    5
2020-01-06    6
Freq: D, dtype: int64

In [34]:
df["E"] = s

In [35]:
df

                   A         B         C         D  E
2020-01-01 -0.894518  0.217220 -0.509382  1.661223  1
2020-01-02  0.240013 -0.007692  1.877079  0.342584  2
2020-01-03 -0.557937 -0.226045 -0.305257  0.799318  3
2020-01-04  1.964696 -0.061895  0.649396  1.029998  4
2020-01-05 -0.854325  0.777459 -0.936669  0.145856  5
2020-01-06 -0.695637 -2.387286 -1.673101  0.224784  6

In [36]:
df.shift(1)

                   A         B         C         D    E
2020-01-01       NaN       NaN       NaN       NaN  NaN
2020-01-02 -0.894518  0.217220 -0.509382  1.661223  1.0
2020-01-03  0.240013 -0.007692  1.877079  0.342584  2.0
2020-01-04 -0.557937 -0.226045 -0.305257  0.799318  3.0
2020-01-05  1.964696 -0.061895  0.649396  1.029998  4.0
2020-01-06 -0.854325  0.777459 -0.936669  0.145856  5.0

In [37]:
df = pd.DataFrame(np.random.randn(2, 2,))

In [38]:
df

          0         1
0  1.191918  0.384383
1 -0.573201  0.358117

In [39]:
pd.concat([df, df])

          0         1
0  1.191918  0.384383
1 -0.573201  0.358117
0  1.191918  0.384383
1 -0.573201  0.358117

In [40]:
df = pd.DataFrame(np.random.rand(8, 4),columns=["A", "B", "C", "D"])
df

          A         B         C         D
0  0.844829  0.803626  0.361320  0.287107
1  0.371732  0.588735  0.183308  0.503072
2  0.183898  0.271957  0.513690  0.978135
3  0.689372  0.973953  0.873839  0.082696
4  0.217243  0.023488  0.419366  0.146128
5  0.852968  0.796699  0.275740  0.073404
6  0.451082  0.541104  0.766585  0.957436
7  0.946313  0.124625  0.576904  0.115731

In [41]:
s = df.iloc[0]
s

A    0.844829
B    0.803626
C    0.361320
D    0.287107
Name: 0, dtype: float64

In [64]:
df = pd.DataFrame({"A":["foo", "bar", "foo", "bar"],"B":np.random.randn(4)})
df

     A         B
0  foo -2.934583
1  bar -0.802666
2  foo -1.836094
3  bar -1.680608

In [65]:
df.groupby("A").sum()

            B
A
bar -2.483274
foo -4.770677